/* <style type="text/css"> */

/* Start message */
#wpcp-error-message {
direction: ltr;
text-align: center;
transition: opacity 900ms ease 0s;
z-index: 9999;
}
.hideme {
opacity: 0;
visibility: hidden;
}
.showme {
opacity: 1;
visibility: visible;
}
.msgmsg-box-wpcp {
border-radius: 10px;
color: #555;
font-family: Tahoma;
font-size: 11px;
margin: 10px;
padding: 10px 36px;
position: fixed;
width: 255px;
top: 50%;
left: 50%;
margin-top: -10px;
margin-left: -165px;
-webkit-box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
-moz-box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
box-shadow: 0px 0px 34px 2px rgba(242, 191, 191, 1);
}
.msgmsg-box-wpcp span {
font-weight: bold;
text-transform: uppercase;
}
.error-wpcp {
background: #ffecec
url("https://1.bp.blogspot.com/-X4svV7ntoBk/XWtIPF40glI/AAAAAAAABbg/2xxlucEnv_gGuXLdQqD9uParb1auBgc7QCKgBGAs/s1600/error.png")
no-repeat 10px 50%;
border: 1px solid #f5aca6;
}
.success {
background: #e9ffd9
url("https://1.bp.blogspot.com/-bfGASIJSMA8/XWtIPCTCxgI/AAAAAAAABbg/mDwQ4p-7hBIktZyFXCmEATYW-NDTIOKXACKgBGAs/s1600/success.png")
no-repeat 10px 50%;
border: 1px solid #a6ca8a;
}
.warning-wpcp {
background: #ffecec
url("https://1.bp.blogspot.com/-OFapPGGkVkg/XWtIPEwHs2I/AAAAAAAABbg/7ZvaY97F8gQrXRaKoEWrruMx_asMyTg6gCKgBGAs/s1600/warning.png")
no-repeat 10px 50%;
border: 1px solid #f5aca6;
}
.notice {
background: #e3f7fc
url("https://1.bp.blogspot.com/-90dnCn33SFE/XWtIPF7MsKI/AAAAAAAABbg/IKzdvT6WyC8z9ZvT5mFZ-tDstleREwOVACKgBGAs/s1600/notice.png")
no-repeat 10px 50%;
border: 1px solid #8ed9f6;
}
/* End message */

/* </style> */
